.project-gallery {
  transition: all 0.3s ease;
  gap: 12px;
}
.project-gallery img {
  border-radius: 4px;
  transition: transform 0.2s ease;
  grid-template-columns: repeat(auto-fill, minmax(380px,380px ));
}


/* .project-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, ));
  gap: 16px; /* فاصله کم شبیه اینستاگرام */
  align-items: start;
/* }

.gallery-item {
  width: 100%;
  overflow: hidden;
  border-radius:4px;
  background: #f5f5f5;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain; /* ❌ کراپ نمی‌کنه */
} */ */

/* ------------------------
   Responsive برای موبایل
------------------------ */
@media (max-width: 640px) {
  .project-gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.hero-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* جلوگیری از کشیده شدن بیرون */
}

.hero-banner img {
  width: 100%;        /* عرض کامل container */
  max-height: 60vh;   /* حداکثر ارتفاع = 60% از ارتفاع viewport */
  height: auto;       /* نسبت تصویر حفظ میشه */
  object-fit: contain; /* تصویر کراپ نشه و نسبت حفظ بشه */
}
